<div class="row mt-3">
  <ng-container  *ngFor="let item of listPromotion">
    <div class="card shadow mb-3">
      <div class="row w-100 mt-3 mb-3">
        <div class="col-lg-5">
          <img class="img-voucher img-fluid" [src]="'data:image/jpeg;base64,' + item.promotionImage" alt="No content">
        </div>
        <div class="col-lg-7">
          <div class="d-flex flex-column">
            <h3>{{item.promotionName}} X {{item.redeemCount}} </h3>
            <br>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <th>Thời gian áp dụng</th>
                  <td class="text-end">{{item.createDate | date:"dd/MM/yyyy"}} - {{item.expirationDate | date:"dd/MM/yyyy"}}</td>
                </tr>
                <tr>
                  <th>Hết hạn sau</th>
                  <td class="text-end">{{calculateDaysDifference(item.expirationDate)}} ngày</td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex flex-wrap">
              <a routerLink="/ChiTietUuDai" class="btn btn-outline-warning flex-fill mb-2 mb-lg-0 me-lg-2">Xem Chi
                Tiết</a>
              <button class="btn flex-fill mb-2 mb-lg-0 me-lg-2" style="background: #db3d23;color: white;">Sử
                dụng</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </ng-container>



</div>

<app-LoadingScreen #loading></app-LoadingScreen>
