<div id="bg-modal" *ngIf="popupCondition">
  <div id="bg-content" style="padding: 0 !important;">

    <div class="d-flex flex-column justify-content-center">
      <div id="title-popup" class="d-flex flex-row align-items-center justify-content-between">
        <h3 class="text-light text-center m-1 ms-2">Đổi ưu đãi</h3>
        <div class="m-2">
          <button (click)="Showpopup()" id="x-click" class="btn btn-primary"><i class="bx bx-x bx-lg"></i></button>
        </div>
      </div>
      <div class="alert {{notificationModel.condition}} d-flex align-items-center" role="alert" *ngIf="notificationModel.isValid">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
          {{notificationModel.message}}
        </div>
      </div>
      <div class="p-3 text-medium">
        <p>Bạn có muốn đổi <strong> {{promotionModel.discountValue | VNDCurrency:true}} Gcoin</strong> để lấy Vouncher {{promotionModel.discountValue | VNDCurrency}} ?</p>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th>Số Gcoin đổi:</th>
              <td class="text-end">{{promotionModel.discountValue | VNDCurrency:true}}</td>
            </tr>
            <tr>
              <th>Số Gcoin còn lại: </th>
              <td class="text-end">{{remainingPoint | VNDCurrency:true}}</td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex flex-row justify-content-end">
          <button (click)="Showpopup()" class="btn btn-outline-secondary me-2" style="font-weight: bold;" id="btnhuy">Hủy</button>
          <button (click) = "RedeemPromotion()" class="btn" id="btnxacnhan">Xác Nhận</button>
        </div>
      </div>
    </div>
  </div>
</div>
