  <!-- <h3 class="text-center pt-5">Ưu Đãi Voucher</h3> -->
<ng-container *ngFor="let item of listPromotions">
  <div class="row w-100 pt-5">
    <div class="col-lg-5">
        <img class="img-voucher img-fluid" [src]="'data:image/jpeg;base64,' + item.promotionImage" alt="No content">
    </div>
    <div class="col-lg-7">
        <div class="d-flex flex-column">
            <h3>{{item.PromotionName}}</h3>
            <br>
            <table class="table table-borderless">
              <tbody>
                <tr>
                    <th>Thời gian áp dụng</th>
                    <td class="text-end">{{item.createDate | date:"dd/MM/yyyy"}} - {{item.expirationDate | date:"dd/MM/yyyy"}}</td>
                </tr>
                <tr>
                    <th>Hết hạn sau</th>
                    <td class="text-end">{{calculateDaysDifference(item.expirationDate)}} ngày</td>
                </tr>
            </tbody>
            </table>
            <div class="d-flex flex-wrap">
                <button (click)="navigateToYourComponent(item.promotion_Id)" class="btn btn-outline-warning flex-fill mb-2 mb-lg-0 me-lg-2">Xem Chi Tiết</button>
                <button (click) = "onRedeem()"  class="btn flex-fill mb-2 mb-lg-0 me-lg-2" style="background: #db3d23;color: white;">Đổi {{item.discountValue | VNDCurrency:true}} GCoin</button>
            </div>
        </div>
    </div>
  </div>
</ng-container>

<app-LoadingScreen #loading></app-LoadingScreen>
